@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

:root {
  --primary-color: #fff;
  --secondary-color: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color: var(--secondary-color);
  transition: background 0.5s;
}

#root {
  padding: 1rem;
  height: 100vh;
  background-color: var(--primary-color);
  font-family: "Nunito", sans-serif;
  display: flex;
  flex-direction: column;
}
